/*Texte Upcoming Events + bouton*/

#events-preview{
	padding-top: 80px;
    padding-bottom: 120px;
    position: relative;
}

.container{
	display: inline-block;
	
}

.element1{
	font-family: "Neue Haas Grotesk W01",sans-serif;
	font-size: 33px;
	display: inline-block;
	margin-left: 40px;
}

.element2{
	width: 200px;
	border: 2px #e5e3e3 solid;
	display: inline-block;
	margin-left: 500px;
	border-radius: 4px;
}

h2{
	color: #454545;
}

p{
	font-family: "Neue Haas Grotesk W01",sans-serif;
	font-size: 13px;
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
}

.element2:hover{
	cursor: pointer;
	border-color: green;
}

.partie2{
	display: flex;
	justify-content: flex-end;
}

/*Images*/

.image:first-child{
	margin-right: 8px;
	border-radius: 4px;
}

.image:nth-child(2){
	margin-right: 8px;
	border-radius: 4px;
}

.image:nth-child(3){
	margin-right: 8px;
	border-radius: 4px;
}

.image:nth-child(4){
	margin-right: 0px;
	border-radius: 4px;

}

body{
	margin: 0;
	padding: 0;

}

#events-preview .events-preview__type {
	display: inline-block;
    margin-bottom: 28px;
    font-family: "Neue Haas Grotesk W01",sans-serif;
    position: absolute;
    color: #fff;
    letter-spacing: 2px;
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
    padding: 7px 10px 6px;
    font-weight: 700;
    background-color: #00964c;
    border-radius: 2px;
    z-index: 3;
}